<div class="top-container">
	<div class="title-container">
		<h1>Flickr Public Feed</h1>
	</div>
	<form>
		<input placeholder="Search by tags..." ng-keydown="loadMore(true)" ng-keyup="shouldFilter = true"  ng-model="search" type="search">
	</form>

</div>

<div class="feed-container" scroll>
	<div class="item-container animation" ng-repeat="(key, value) in items | filter: (shouldFilter ?  {tagString : search} : '')">
		<div class="image-container">
			<a href="/#/post/#{{key}}"><img src={{value.media.m}} alt="{{value.title}}"></a>
		</div>
		<div class="info-container">
			<h2><a ng-click="$window.scrollTo(0, 0);" class="title-link" href=/#/post/#{{key}}>{{value.title}}</a></h2>
			<p>Published: {{ value.date_taken | date:'d' | ordinal}} {{ value.date_taken | date : "MMM yyyy 'at 'HH:mm" }}</p>
			<ul>
				<li><a href="https://www.flickr.com/photos/{{value.author_id}}" target="_blank">{{value.author[1]}}</a></li>
				<li><a href="{{value.link}}"target="_blank">View on Flickr</a></li>
			</ul>
		</div>
	</div>

</div>
