<div class="feed-container fadeIn animated">
    <div class="item-container animation" ng-model="loadingBay[post]" ng-show>
          <a class="back" href="/#/">Back</a>
            <div class="info-container">
                <h1><a target="_blank" href={{value.lin}}>{{loadingBay[post].title}}</a></h1>
                <ul>
                    <li><a href="">{{loadingBay[post].author}}</a></li>
                    <li>Published: {{loadingBay[post].date_taken | date:'d' | ordinal}} {{ loadingBay[post].date_taken | date : "MMM yyyy 'at 'HH:mm" }}</li>
                </ul>
            </div>
            <div class="content-container">
                <div class="image-container">
                    <img src={{loadingBay[post].media.m}} alt="">
                </div>
            </div>
            <h3>Tags</h3>
            <div class="tag-container">
                <p>Tags</p>
                <ul>
                    <li ng-repeat="tag in loadingBay[post].tags">
                        <a href="https://www.flickr.com/photos/tags/{{tag}}">{{tag}}</a>
                    </li>
                </ul>
            </div>
            <div class="g-plusone" data-annotation="inline" data-width="300"></div>
    </div>
</div>
